<!-- page head start--> 
<div class="page-head">
  <h3 class="m-b-less">
  Bill Information 
  </h3>
</div>
<!-- page head end-->

<!--body wrapper start-->
<div class="wrapper">
  <!-- page start-->
  <div class="panel">
    <!-- <a target="_blank" href= "<%= invoice_path(format: :pdf) %>"" class ="btn btn-default btn-success btn-lg"> DOWNLOAD PDF</a> -->

    <% if flash[:notice] %>
    <div class="alert alert-danger">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <header class="panel-heading head-border">
    </header>
    <div class="panel-body">
      <div class="row toastr-row">
        <div class="col-md-4">
          <div class="form-group">
          
            <label class="control-label" for="bill_info_name"> Vendor name </label>
            <input data-customers id="vendor_name" type="text" class="form-control"  placeholder="Vendor Name" value="<%= @bill_info.try(:vendor_name)%>" readonly>
          </div>
          <div class="form-group">
            <label class="control-label" for="bill_info_number">Vendor account</label>
            <input id="vendor_number" name="billinfo[vendor_account]" type="text" class="form-control" value="<%= @bill_info.try(:vendor_account) %>" readonly >
          </div>
          <div class="form-group">
            <label class="control-label" for="bill_info_invoice_date">Bill ID</label>
            <input id="vendor_record_date" name="billinfo[bill_id]" class="form-control" value="<%= @bill_info.try(:bill_id) %>" readonly >
          </div>
          <div class="form-group">
            <label class="control-label" for="bill_info_due_date">Processing Date</label>
            <input id="vendor_due_date" name="billinfo[Processing Date]" class="form-control" value="<%= @bill_info.try(:processing_date).try(:strftime,"%d-%B-%Y") %>" readonly >
          </div>
        </div>
        <div class="col-md-3">
       		<div class="form-group">
	            <label class="control-label" for="bill_info_name"> Due Date </label>
	            <input data-customers id="vendor_name" type="text" class="form-control"
	            value="<%=@bill_info.try(:due_date).try(:strftime,"%d-%B-%Y")%>" readonly>
	        </div>
          	<div class="form-group">
	            <label class="control-label" for="bill_info_memo">Memo</label>
	            <input id="bill_memo" name="billinfo[bill_memo]" type="textfield" class="form-control" value="<%= @bill_info.try(:memo) %>" readonly>
          	</div>
          	<div class="form-group">
	            <label class="control-label" for="bill_info_description">Description</label>
	            <input id="bill_description" name="billinfo[bill_description]" type="textfield" class="form-control" value="<%= @bill_info.try(:description)%>" readonly>
          	</div>
          	<div class="form-group">
	            <label class="control-label" for="bill_info_check_number">Check Number</label>
	            <input id="bill_check_number" name="billinfo[bill_number]" type="text" class="form-control" value="<%= @bill_info.try(:check_number) %>" readonly>
          	</div>
    	</div>
  			<div class="col-md-12">
          		<a href="<%= new_payment_path %>" class="btn btn-success">Back</a>
              <a href="<%= edit_bill_information_path(@bill_info.bill_id) %>" class="btn btn-success">Edit</a>
        	</div>
  	</div>
  </div>

</div>

<!-- page end-->
<!--body wrapper end-->