<!-- page head start--> 
<div class="page-head">
  <h3 class="m-b-less">
  Bill Information 
  </h3>
</div>
<!-- page head end-->

<!--body wrapper start-->
<div class="wrapper">
  <!-- page start-->
  <div class="panel">

    <% if flash[:notice] %>
    <div class="alert alert-danger">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <header class="panel-heading head-border">
    </header>
    <div class="panel-body">
      <div class="row toastr-row">
        <div class="col-md-3">
          <div class="form-group">
          
            <label class="control-label" for="bill_info_name"> Vendor name </label>
            <input data-customers id="vendor_name" type="text" class="form-control"  placeholder="Vendor Name" value="<%= @bill_info.try(:vendor_name)%>" readonly>
          </div>
          <div class="form-group">
            <label class="control-label" for="bill_info_number">Vendor account</label>
            <input id="vendor_number" name="billinfo[vendor_account]" type="text" class="form-control" value="<%= @bill_info.try(:vendor_account) %>" readonly >
          </div>
          <div class="form-group">
            <label class="control-label" for="bill_info_invoice_date">Bill ID</label>
            <input id="vendor_record_date" name="billinfo[bill_id]" class="form-control" value="<%= @bill_info.try(:bill_id) %>" readonly >
          </div>
          <div class="form-group">
            <label class="control-label" for="bill_info_amount">Amount</label>
            <input id="vendor_record_date" name="billinfo[amount]" class="form-control" value="<%= @bill_info.try(:amount) %>" readonly >
          </div>
        </div>
        <div class="col-md-3">
         		<div class="form-group">
              <label class="control-label" for="bill_info_name"> Due Date </label>
              <input data-customers id="vendor_name" type="text" class="form-control"
	            value="<%=@bill_info.try(:due_date).try(:strftime,"%d-%B-%Y")%>" readonly>
  	        </div>
            <div class="form-group">
              <label class="control-label" for="bill_info_due_date">Processed Date</label>
              <input id="vendor_due_date" name="billinfo[Processing Date]" class="form-control" value="<%= @bill_info.try(:processing_date).try(:strftime,"%d-%B-%Y") %>" readonly >
            </div>
            <div class="form-group">
              <label class="control-label" for="bill_info_due_date">Delivery Date</label>
              <input id="vendor_due_date" name="billinfo[Processing Date]" class="form-control" value="<%= @bill_info.try(:delivery_date).try(:strftime,"%d-%B-%Y") %>" readonly >
            </div>
            <div class="form-group">
              <label class="control-label" for="bill_info_check_number">Payment Method</label>
              <input id="bill_check_number" name="billinfo[Payment Method]" type="text" class="form-control" value="<%= @bill_info.try(:payment_method) %>" readonly>
            </div>
    	  </div>
        <div class="col-md-3">
          <div class="form-group">
              <label class="control-label" for="bill_info_check_number">Check Number</label>
              <input id="bill_check_number" name="billinfo[bill_number]" type="text" class="form-control" value="<%= @bill_info.try(:check_number) %>" readonly>
            </div>
          <div class="form-group">
            <label class="control-label" for="bill_info_memo">Memo</label>
            <textarea id="bill_memo" type="textfield" name="billinfo[bill_memo]" class="form-control" readonly><%= @bill_info.try(:memo) %></textarea>
          </div>
          <div class="form-group">
            <label class="control-label" for="bill_info_description">Description</label>
            <textarea id="bill_description" type="textfield" name="billinfo[bill_description]" class="form-control" readonly><%= @bill_info.try(:description)%></textarea>
          </div>
        </div>
  			<div class="col-md-12">
          		<a href="<%= new_payment_path %>" class="btn btn-success">Back</a>
              <a href="<%#= edit_bill_information_path(@bill_info.bill_id) %>" class="btn btn-success">Edit</a>
        	</div>
  	</div>
  </div>

</div>

<!-- page end-->
<!--body wrapper end-->