<!-- page head start-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<div class="page-head">
  <h3 class="m-b-less">
  Create Repeating Payment
  </h3>
  <div class="state-information">
    <!-- <ol class="breadcrumb m-b-less bg-less">
      <li><a href="#">Money out</a></li>
      <li><%#= link_to "Bills", bills_path %></li>
      <li class="active">Create Bill</li>
    </ol> -->
  </div>
</div>
<!-- page head end-->

<!--body wrapper start-->
<div class="wrapper">
  <!-- page start-->
  <div class="panel">
    <% if flash[:errors] %>
      <div class="alert alert-danger">
        <ul>
          <% flash[:errors].each do |er| %>
          <li><%= er %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <header class="panel-heading head-border">
      Create New Repeating Payment
    </header>
    <form id="repeating-payment-form"  method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input id="hidden_patch" name="_method" type="hidden" />
      <div class="panel-body">
        <div class="row toastr-row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label"><b>Schedule Information</b></label></br>
              <label class="control-label" for="next_due_date" style="display:inline-block;">Next Due Date</label>
              <input type="date" name="repeating_payment[next_due_date]" class="form-control" id="next_due_date" style="width:30%;display:inline-block;" value="<%= @repeating_payment.next_due_date.strftime("%Y-%m-%d") %>">
            </div>
            
            <div class="form-group">
              <label class="control-label" style="display:inline-block;margin-left:8%" for="next_due_date">Create</label>
              <input type="number" id="days_in_advance" name="repeating_payment[days_in_advance]" class="form-control" min="0" max="365" step="1" style="width:12%;display:inline-block;" value="<%= @repeating_payment.days_in_advance %>" >
              <label class="control-label" style="display:inline-block;margin-left:1%;">days in advance(0-365)</label>
            </div>
            
            <div class="form-group">
              <label class="control-label"><b>Bill Template</b></label><br/>
              <label class="control-label" for="repeating_payment_vendor" style="display:inline-block;margin-left:7%;" >Vendor</label>
              <select class="form-control input-small vendor_selector" name="repeating_payment[vendor_id]" id="repeating_payment_vendor" style="width:30%;display:inline-block;">
                <option value="<%= @repeating_payment.vendor_id %>" selected><%= @repeating_payment.vendor.name %></option>
              </select>
            </div>
            
            <div class="form-group">
              <label class="control-label" for="repeating_payement_description" style="display:inline-block;margin-left:3%;">Description</label>
              <textarea id="repeating_payement_description" name="repeating_payment[description]" rows="3" class="form-control" placeholder="Enter a description..." style="width:80%;display:inline-block;" ><%= @repeating_payment.description %></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" style="display:inline-block; margin-top:5%;margin-left:10%;">Frequeny</label>
              <label class="control-label" for="frequency" style="display:inline-block; margin-top:5%; margin-left:1%">Every</label>
              <input type="text" name="repeating_payment[frequency]" class="form-control" id="frequency" style="width:9%;display:inline-block;margin-top:5%;" value="<%= @repeating_payment.frequency %>">
              <select class="form-control input-small" name="repeating_payment[frequency_type]" style="width:25%;display:inline-block;margin-left:2%;" >
                <option value="<%= @repeating_payment.frequency_type %>"><%= @repeating_payment.frequency_type %>
                </option>  
              </select>
            </div>
            
            <div class="form-group">
              <label class="control-label" for="end_date" style="display:inline-block;margin-left:10%">Ends On</label>
              <input type="date" name="repeating_payment[end_date]" class="form-control" id="end_date" style="width:28%;display:inline-block;margin-left:2%" value="<%= @repeating_payment.end_date.strftime("%Y-%m-%d") %>" >
              <input type="checkbox" name="end_date_checkbox" style="display:inline-block;">
              <label class="control-label" for="end_date_checkbox" style="display:inline-block;">No End Date</label>
            </div>  
          </div>
        </div>  
        <div class="row toastr-row">
          <%= render "repeating_payment_items" %>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= link_to 'Back', :back, class: "btn btn-danger"%>
            <button type="submit" class="btn btn-success create_repeating_payment" id="update_r_payment">update</button>
            <!-- <button type="submit" class="btn btn-success create_bill" id="preview-bill">Preview Bill</button> -->
            <button type="button" class="btn btn-danger" onclick="clearEnteries('repeating-payment-form')" >Clear Entries</button>
            <%# if @attachment.present?%>
              <%#= link_to 'Back', attachments_path, class: "btn btn-danger" %>
            <%#end%>
          </div>
        </div>
      </div>
    </form>
  </div>
<!-- page end-->
</div>
<!--body wrapper end-->
<% content_for :scripts do %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<!-- <script src="ng-file-upload-shim.min.js"></script>
<script src="ng-file-upload.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.11/ng-file-upload.min.js"></script>
  <script>

  $(document).ready(function(){
    changeSubtotal();
  })   

    var regex = /^(.+?)(\d+)$/i;
    $("#tr_clone_add").click(function(){
      var timestamp = $.now();
      $(".table tr").eq(1)
      .clone()
        .find("input, select").each(function() {
          $(this).attr({
            'value': '',
            'name' : changeName($(this), timestamp),
            'id'   : changeId($(this), timestamp)
          });
        }).end()
      .insertBefore("#insertRowBefore");
    });

    // $(document).on('click', '.tr_clone_remove', function(){
    //   $(this).parent().parent().remove();
    //   changeSubtotal();
    // });

    $(document).on('click', '.tr_clone_remove', function(){
      id = $(this).parent().parent().find('.hidden_r_item_id').val();
      rp_item_id = parseInt(id);
      if (!(isNaN(rp_item_id))){
        $(this).parent().parent().hide();
        $(this).parent().parent().find('.hidden_item_amount').val(0);
        changeSubtotal();
        $(this).parent().parent().find('.hidden-destroy').attr('value','true')
      }
      else{
        $(this).parent().parent().remove();
        changeSubtotal();
      }
    });

    $(document).on('keyup change', '.repeating_payment_amount', function(){
      item_val = $(this).val()
      $(this).parent().find('.hidden_item_amount').val(item_val);
      changeSubtotal();
      return true
    });

    function changeName(object, timestamp){
      orignal_name = object.attr('name') || "";
      return orignal_name.replace(/[0-9]/g, timestamp);
    };

    function changeId(object, timestamp){
      orignal_id = object.attr('id') || "";
      return orignal_id.replace(/[0-9]/g, timestamp);
    };

    function changeSubtotal(){
      var subtotal = 0.0;
      $('input.hidden_item_amount').each(function(object){
        amount = parseFloat(this.value) || 0;
        subtotal = subtotal + amount;
      });
      $('#subtotal').html('$'+subtotal);
      $('#hiden_subtotal').val(subtotal);
    };

    $(".vendor_selector").select2({
        ajax: {
            type: "GET",
            url: "/repeating_payments/vendors_by_ajax.json",
            dataType: 'json',
            contentType: "application/json",
            delay: 250,
            data: function (params) {
                return{
                    term: params.term,
                  };
            },
            processResults: function (data) {
                return {
                    results: $.map(data.vendors, function (item, i) {
                        return {
                            text: item.name,
                            id: item.id
                        }
                    })
                };
            }
        },
    });

     $('.create_repeating_payment').click( function(event) {
        event.preventDefault();
        id = $(this).attr('id')
        if(id=="update_r_payment") {
          $('#hidden_patch').attr('value', 'patch')
          $('#repeating-payment-form').attr('action', '<%= repeating_payment_path%>')
        } else if(id=="preview-bill") {
          $('#bill-form').attr('action', '/bills/bill_preview.pdf')
          $('#bill-form').attr('target', "_blank")
        }
        $('#repeating-payment-form').submit();
      });
      
  </script>
<% end %> 

