
 <!-- page head start-->
<div class="page-head">
  <h3 class="m-b-less">
  Bank Accounts
  </h3>
</div>
<!-- page head end-->

<!--body wrapper start-->
<div class = "wrapper">
  <div class = "panel">
    <header class="panel-heading head-border">
      Payment Accounts
    </header>
    <section class="panel">
      <div class="panel-body">
        <div class="btn-group btn-group-justified">
          <a class="btn btn-warning" href="<%= bank_accounts_path %>">Bank Accounts</a>
          <a class="btn btn-primary" href="<%= credit_cards_path %>">Credit Cards</a>
          <a class="btn btn-info" href="<%#= %>">Electronic Payments</a>
        </div>
      </div>
    </section>
    <div class ="row"> 
      <div class="col-sm-12">
        <header class="panel-heading head-border">
          <a class="btn btn-success" href="<%= new_bank_account_path %>">Add New</a>
          <span class="tools pull-right">
              <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
              <a class="t-close fa fa-times" href="javascript:;"></a>
          </span>
        </header>
        <div class="panel-body">
          <div>
            <table class="table colvis-data-table data-table">
              <thead>
                <tr>
                  <th>Bank Account</th>
                  <th>Bank Name</th>
                  <th>Domestic Routing</th>
                  <th>Domestic Account</th>
                  <th>Swift Code</th>
                  <th>Address1</th>
                  <th>Address2</th>
                  <th>City</th>
                </tr>
              </thead>
              <tbody>
                  <% @accounts.each do |account| %>
                <tr>
                  <td><%= account.account_number%> (<%= link_to "SHOW",bank_account_path(account) %>)</td>
                  <td><%= account.bank_name%></td>
                  <td><%= account.domestic_routing %></td>
                  <td><%= account.domestic_account %></td>
                  <td><%= account.swift_code %></td>
                  <td><%= account.bank_address1%></td>
                  <td><%= account.bank_address2%></td>
                  <td><%= account.city %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>  
<!--body wrapper send