<!-- page head start-->
<!-- <div class="page-head">
  <h3 class="m-b-less">
  Bank Account Information
  </h3>
  <div class="state-information">
    <ol class="breadcrumb m-b-less bg-less">
      <li class="active"><a href="#">All Active Invoices</a></li>
      <li><a href="#">Active and Archived</a></li>
    </ol>
  </div>
</div> -->
<!-- page head end-->
<!--body wrapper start-->
<div class="wrapper">
  <div class="row">
    <div class="col-sm-12">   
      <section class="panel">
        <% if flash[:notice] or flash[:error] %>
          <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= flash[:notice] %>
            <%= flash[:error] %>
          </div>
        <% end %>

          <header class="panel-heading ">
          Payment Accounts</header>
           <div class="panel-body">
        <div class="btn-group btn-group-justified">
           <a class="btn btn-warning" href="<%= edit_profile_path(current_user) %>">Profile and Identity</a>
          <a class="btn btn-info" href="<%= bank_accounts_path(current_user) %>">Payment Accounts</a>
          <a class="btn btn-primary" href="<%= edit_software_integration_path(current_user) %>">Software Integrations</a>
        </div>
            <span class="tools pull-right">
              <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
              <a class="t-close fa fa-times" href="javascript:;"></a>
            </span>
            <br/><br/>
            <div class="DTTT btn-group">
              <a class="btn btn-default DTTT_button_create" href="<%= new_bank_account_path %>">
                <span>Create</span>
              </a>
              <button id="copy" type="submit" class="btn btn-default DTTT_button_copy">
              <span>COPY</span>
              </button>
              <a class="btn btn-default DTTT_button_csv" tabindex="0" href="<%= invoices_path(format: :csv) %>" aria-controls="DataTables_Table_0">
                <span>CSV</span>
              </a>
              <a class="btn btn-default DTTT_button_xls" tabindex="0" href="<%= invoices_path(format: :xls) %>" aria-controls="DataTables_Table_0">
                <span>Excel</span>
              </a>
              <a target="_blank" class="btn btn-default DTTT_button_pdf" href="<%= invoices_path(format: :pdf) %>" tabindex="0" aria-controls="DataTables_Table_0">
                <span>PDF / PRINT</span>
              </a>
            </div>
          
          <table class="table colvis-data-table data-table">
            <thead>
              <tr>
                <th>Bank Account</th>
                <th>Bank Name</th>
                <th>Available For Payable</th>
                <th>Default For Payable</th>
                <th>Available For Receivable</th>
                <th>Verification Status</th>
                <th>Active?</th>
              </tr>
            </thead>
            <tbody>
              <% @accounts.each do |account| %>
              <tr>
                <td><%= account.account_number%> (<%= link_to "SHOW",bank_account_path(account) %>)</td>
                <td><%= account.bank_name %></td>
                <td><%= account.payable %></td>
                <td><%= account.default %></td>
                <td><%= account.receivable%></td>
                <td><%= account.status%></td>
                <td><%= account.active %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
      </section>
    </div>
  </div>
</div>
<!--body wrapper end-->
<% content_for :scripts do %>
  <script type="text/javascript">
    $('#invoice-form').submit( function(event) {
      event.preventDefault();
      id = document.activeElement.getAttribute('id')
      if(id=="reminder") {
        $('form').unbind('submit').submit();
      } else {
        $.each($("input[class='copy-check']:checked"), function(){
        invoice_id = $(this).val();
        window. open("/invoices/copy_invoice/"+invoice_id);
      });
      }
    });

    <% if params[:preview].eql?('true') %>
      $(window).load(function(){
        id = <%= params[:invoice_id] %>
        url = "/invoices/"+id+".pdf"
        window. open(url,"","width=700,height=650");
      });
    <% end %>
  </script>
<% end %>