<!-- page head start-->
<div class="page-head">
  <h3 class="m-b-less">
   Show Chart of account
  </h3>
</div>
<!-- page head end-->


<div class="wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <header class="panel-heading head-border">
          Showing Chart Of Acocunt Detail 
        </header>
        <% if flash[:errors] %>
        <div class="alert alert-danger">
          <ul>
            <% flash[:errors].each do |er| %>
            <li><%= er %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <form id="chart-of-accounts-form" action="<%= chart_of_accounts_path%>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <div class="panel-body">
            <div class="row toastr-row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="COA_name">Name</label>
                  <input id="coa_name" name="chart_of_accounts[name]" type="text" class="form-control" value="<%=@chart_of_account.name%>" readonly>
                </div>
                <div class="form-group">
                  <label class="control-label" for="COA_number">Number</label>
                  <input id="coa_number" name="chart_of_accounts[number]" type="text" class="form-control" value="<%=@chart_of_account.number%>" readonly>
                </div>
                <div class="form-group">
                  <label class="control-label" for="COA_type">Type</label>
                  <input id="coa_type" name="chart_of_accounts[chart_of_account_type]" type="text" class="form-control" value="<%=@chart_of_account.chart_of_account_type%>" readonly>
                </div>
                <div class="form-group">
                  <label class="control-label" for="COA_description">Description</label>
                  <input id="coa_description" name="chart_of_accounts[description]" type="text" class="form-control" value="<%=@chart_of_account.description%>" readonly>
                </div>
              </div>
              <div class="col-md-12">
                <a href="<%= chart_of_accounts_path%>" class="btn btn-success">Back</a>
              </div>
            </div>    
          </div>
        </form>
      </div>
    </div> 
  </div>  
</div>