<!--state overview start-->
<div class="row state-overview">
  <div class="col-lg-3 col-sm-6">
    <a href="<%=unpaid_bills_link%>">
      <section class="step1 panel purple">
        <div class="symbol">
          <i class="fa fa-send"></i>
        </div>
        <div class="value white">
          <h1 class="timer" data-from="0" data-to="<%= current_organization.bills.where("paid" => false).try(:count) 
          %>" data-speed="1000">
            <!--320-->
          </h1>
          <p>Unpaid Bills</p>
        </div>
      </section>
    </a>
  </div>
  <div class="col-lg-3 col-sm-6">
    <a href="<%#=outstanding_invoice_link%>">
      <section class="step2 panel ">
        <div class="symbol purple-color">
          <i class="fa fa-tags"></i>
        </div>
        <div class="value gray">
          <h1 class="purple-color timer" data-from="0" data-to="0<%#= current_organization.invoices.try(:count) %>" data-speed="1000">
            <!--123-->
          </h1>
          <p>Outstanding Invoices</p>
        </div>
      </section>
    </a>
  </div>
  <div class="col-lg-3 col-sm-6">
    <a href="<%= approval_required_link %>">
      <section class=" step3 panel green">
        <div class="symbol ">
          <i class="fa fa-cloud-upload"></i>
        </div>
        <div class="value white">
          <h1 class="timer" data-from="0" data-to="<%= current_user.approvals.where(:status=> "Pending").try(:count)%>"
                                        data-speed="1000">
          <!--432-->
          </h1>
          <p>Approval Required</p>
        </div>
      </section>
    </a>
  </div>
  <div class="col-lg-3 col-sm-6">
    <a href="<%=new_document_link%>">
      <section class="step4 panel">
        <div class="symbol green-color">
          <i class="fa fa-bullseye"></i>
        </div>
        <div class="value gray">
          <h1 class="green-color timer" data-from="0" data-to="<%= current_organization.attachments.where(referenceable_id: nil, attachable_type: "User").try(:count)%>"
                                                      data-speed="3000">
            <!--2345-->
          </h1>
          <p>New Documents</p>
        </div>
      </section>
    </a>
  </div>
</div>
<!--state overview end-->
