<section class="panel post-wrap pro-box team-member">
<aside class="bg-primary v-align">
  <div class="panel-body text-center">
    <div class="team-member-wrap">
      <div class="team-member-info">
        <div class="action-set">
          <a href="javascript:;" class="tooltips" data-original-title="Profile Info" data-toggle="tooltip" data-placement="top">
            <i class="fa fa-reorder"></i>
          </a>
        </div>
        <div class="team-title">
          <a href="javascript:;" class="m-name">
            Alison Jones
          </a>
          <span class="sub-title"> Project Manager</span>
        </div>

        <div class="call-info">
          <a href="javascript:;">
            <i class="fa fa-envelope-o"></i>
          </a>
          <%= image_tag("img2.jpg") %>
          <a href="javascript:;">
            <i class="fa fa-phone"></i>
          </a>
        </div>
        <div class="status">
          <h5>Status</h5>
          <span>Busy in a meeting with HK Group CEO</span>

        </div>
      </div>
    </div>
  </div>
</aside>
<aside>
  <header class="panel-heading head-border">
    team member
    <span class="action-tools pull-right">
      <a class="fa fa-reorder" href="javascript:;"></a>
    </span>
  </header>
  <div class="post-info">
    <ul class="team-list cycle-pager external" id='no-template-pager'>
      <li>
        <a href="javascript:;">
          <span class="thumb-small">
            <%= image_tag("img2.jpg", class:"circle") %>
            <i class="online dot"></i>
          </span>
          <span class="name">Alison Jones</span>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <span class="thumb-small">
            <%= image_tag("img1.jpg", class:"circle") %>
            <i class="away dot"></i>
          </span>
          <span class="name">Joliana Devis</span>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <span class="thumb-small">
            <%= image_tag("img3.jpg", class:"circle") %>
            <i class="busy dot"></i>
          </span>
          <span class="name">David Alexzender</span>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <span class="thumb-small">
            <%= image_tag("img4.jpg", class:"circle") %>
            <i class="offline dot"></i>
          </span>
          <span class="name">Emma Rose</span>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <span class="thumb-small">
            <%= image_tag("img1.jpg", class:"circle") %>
            <i class="online dot"></i>
          </span>
          <span class="name">Jacqueline Jones</span>
        </a>
      </li>

    </ul>
    <div class="add-more-member">
      <a href="javascript:;" class=" ">View All Member</a>
      <a href="javascript:;" class="add-btn pull-right">
        +
      </a>
    </div>
  </div>
</aside>
</section>

