<!-- page head start-->
<div class="page-head">
  <h3 class="m-b-less">
  Organizations
  </h3>
</div>
<!-- page head end-->

<!--body wrapper start-->
<div class="wrapper">
  <!-- page start-->
  <div class="panel">
    <header class="panel-heading head-border">
      
      <%= link_to 'Add New', new_organization_path, class: 'btn btn-success' %>
      <span class="tools pull-right">
        <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
        <a class="t-close fa fa-times" href="javascript:;"></a>
      </span>
    </header>
    <div class="panel-body">
      <div class="row toastr-row">
        <div class="col-sm-12">
          <section class="panel">
            <table class="table colvis-data-table data-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Accounting Software</th>
                  <th>Role</th>
                  <th>Show</th>
                </tr>
              </thead>
              <tbody>
                <% @organizations.each do |organization| %>
                  <tr>
                    <td><%= organization.try(:name)%></td>
                    <td><%= organization.try(:organization_type)%></td>
                    <td><%= organization.try(:accounting_software)%></td>
                    <td><%= organization.relations.find_by(user_id: current_user).user_type%></td>
                    <td><%=link_to 'show', organization_path(organization)%></td>
                  </tr>
                <%end%>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </div>
  </div>  
  <!-- page end-->

  <!-- Organization Users starts here -->
  <div class="row">
    
  </div>
  <!-- Organization Users ends here -->
</div>
<!--body wrapper end-->

<!-- Modal -->
<div class="modal fade" id="change-role-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Role</h4>
      </div>
      <form id="change-role-form">
        <!-- <input name="_method" type="hidden" value="patch" /> -->
        <div class="modal-body">
          <div class="form-group">
            <label for="contact_first_name">Select Role</label>
            <select id="role-select" name="role" class="form-control">
              <option value="accountant">Accountant</option>
              <option value="payer">Payer</option>
              <option value="approver">Approver</option>
              <option value="clerk">Clerk</option>
            </select>
            <input type="hidden" name="id" id="user-id" class="form-control">
            <input type="hidden" name="org_id" value="<%= current_organization.id %>">
          </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="save-contact">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>


<% content_for :scripts do %>
  <script type="text/javascript">

    $('#change-role-form').on('submit', function (e) {
      e.preventDefault();
      $.ajax({
        url: "/change_role",
        type: "POST",
        data: $(e.currentTarget).serialize(),
        success: function () {
          $('#change-role-model').modal('hide');
          location.reload();
        },
      });
    });

    $(".change-role").click(function(){
      userId = $(this).parent().find('.hiddenUserId').val();
      role = $(this).parent().find('.hiddenRole').val();
      $("#user-id").val(userId);
      $("#role-select").val(role);
      $('#change-role-model').modal('show');
    });
  </script>
<% end %>