<!-- page head start-->
<div class="page-head">
  <h3 class="m-b-less">
  Organization Information
  </h3>
</div>
<!-- page head end-->

<!--body wrapper start-->
<div class="wrapper">
  <!-- page start-->
  <div class="panel">
    <header class="panel-heading head-border">
      
      <%= link_to 'Add New', new_organization_path, class: 'btn btn-success' %>
      <span class="tools pull-right">
        <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
        <a class="t-close fa fa-times" href="javascript:;"></a>
      </span>
    </header>
    <div class="panel-body">
      <div class="row toastr-row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label" for="organization_name">Name:</label> 
            <input type="text" name="organization_name" value="<%= current_organization.name %>" class="form-control" readonly>
          </div>
          <div class="form-group">
            <label class="control-label" for="organization_type">Organization Type:</label> 
            <input type="text" name="organization_type" value="<%= current_organization.organization_type.try(:capitalize) %>" class="form-control" readonly>
          </div>
          <div class="form-group">
            <label for="accounting_software">Accounting Software:</label> 
            <input type="text" name="accounting_software" value="<%= current_organization.organization_type.try(:capitalize) %>" class="form-control" readonly>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <% if current_organization.attachment.present?%>
              <% if current_organization.attachment.attachment.present? %>
                <label for="customer_logo">Company Logo:</label>
                <img src="<%= current_organization.attachment.attachment.url %>" class="img-thumbnail form-control" style="height:100px; width:100px;">
              <%else%>
                <label for="customer_logo">Company Logo:</label><b>No Logo Attached</b>
              <%end%>  
            <%else%> 
                <label for="customer_logo">Company Logo:</label><b>No Logo Attached</b>
            <%end%>     
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <%= link_to 'Back', new_dashboard_path, class: 'btn btn-danger' %>
            <%= link_to 'Edit', edit_organization_path(current_organization), class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <!-- page end-->

  <!-- Organization Users starts here -->
  <div class="row">
    <div class="col-sm-12">
      <section class="panel">
        <header class="panel-heading head-border">
          Organization Users
        </header>
        <table class="table colvis-data-table data-table">
          <thead>
            <tr>
              <th>User Name</th>
              <th>Email</th>
              <th>Assigned Role</th>
              <th>Joined At</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <% unless user.id == current_user.id %>
                <tr>
                  <td><%= link_to (user.full_name+" ("+user.email+")"), organization_user_path(user) %>
                  <td><%= user.email %></td>
                  <td>
                    <div>
                      <%= user.which_role?(current_organization.id).capitalize %>
                      <input class="hiddenUserId" type="hidden" value="<%= user.id %>">
                      <input class="hiddenRole" type="hidden" value="<%= user.which_role?(current_organization.id) %>">
                      ( <a class="change-role" href="javascript:;">
                        change
                      </a> )
                    </div>
                  </td>
                  <% if user.invitation_accepted_at.present? %>
                   <td><%= user.invitation_accepted_at.strftime("%d %B %Y") %></td>
                  <% else %>
                    <td>Not Joined Yet</td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </section>
    </div>
  </div>
  <!-- Organization Users ends here -->
</div>
<!--body wrapper end-->

<!-- Modal -->
<div class="modal fade" id="change-role-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Role</h4>
      </div>
      <form id="change-role-form">
        <!-- <input name="_method" type="hidden" value="patch" /> -->
        <div class="modal-body">
          <div class="form-group">
            <label for="contact_first_name">Select Role</label>
            <select id="role-select" name="role" class="form-control">
              <option value="accountant">Accountant</option>
              <option value="payer">Payer</option>
              <option value="approver">Approver</option>
              <option value="clerk">Clerk</option>
            </select>
            <input type="hidden" name="id" id="user-id" class="form-control">
            <input type="hidden" name="org_id" value="<%= current_organization.id %>">
          </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="save-contact">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>


<% content_for :scripts do %>
  <script type="text/javascript">

    $('#change-role-form').on('submit', function (e) {
      e.preventDefault();
      $.ajax({
        url: "/change_role",
        type: "POST",
        data: $(e.currentTarget).serialize(),
        success: function () {
          $('#change-role-model').modal('hide');
          location.reload();
        },
      });
    });

    $(".change-role").click(function(){
      userId = $(this).parent().find('.hiddenUserId').val();
      role = $(this).parent().find('.hiddenRole').val();
      $("#user-id").val(userId);
      $("#role-select").val(role);
      $('#change-role-model').modal('show');
    });
  </script>
<% end %>